doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='ie=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/main.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway:500,800', rel='stylesheet')

        title
            block title
    body
        block content

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='js/slick.min.js')
        script(src='js/main.js')
        
