doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='ie=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/main.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway:500,800', rel='stylesheet')

        title
            block title
    body
        block content
