html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
.credit-card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.credit-card {
  width: 428px;
  height: 268px;
  border-radius: 10px;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.title-row {
  padding: 26px 38px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.credit-card-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.credit-card-number label {
  align-self: flex-start;
  font-size: 12px;
  margin-left: 46px;
  margin-bottom: 6px;
}
.credit-card-number input {
  display: block;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  font-size: 24px;
  color: #fff;
  padding: 4px 20px;
  outline: none;
  text-align: center;
}
.details-row {
  display: flex;
  justify-content: space-between;
  padding: 26px 48px;
}

.credit-card-exp-date label,
.credit-card-cvv label {
  font-size: 12px;
}
.credit-card-cvv {
  text-align: right;
}
.credit-card-exp-date input,
.credit-card-cvv input {
  margin-top: 6px;
  display: block;
  width: 60px;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  font-size: 18px;
  color: #fff;
  padding: 4px;
  outline: none;
  text-align: center;
}
.mail-checkbox {
  color: #000;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 18px;
}
.email-inp input {
  display: block;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 8px;
  outline: none;
  text-align: center;
  margin-bottom: 20px;
  font-family: inherit;
  display: none;
}
.btn-submit {
  border-radius: 6px;
  font-size: 18px;
  padding: 6px 20px;
  outline: none;
  text-align: center;
  font-family: inherit;
}
.succes {
  display: none;
  font-size: 24px;
  color: #000;
}
/*-----------------preloader--------------*/
.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
  display: none;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
