.icon-inp {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 18px;
    left:12px;
    opacity: 0.2;
    pointer-events: none;

    &--lock {
        font-size: 22px;    
    }
}
.social-icon {
    position:absolute;
    left:10px;
    top:50%;
    transform: translateY(-50%);
}
