/*============colors===============*/

$bg-gray:#f2f5f8;
$color-placeholder:#c6ccd2;
$btn-primary:#65abd0;
$btn-darkblue:#3385ff;
$btn-green:#24aa98;
$btn-red:#db7560;
$btn-yellow: #d9c26c;
$hover-blue:#3385ff;
$hover-gray:#737373;


/*==============mixins==============*/

@mixin centered ($axis:'both') {
    position:absolute;

    @if $axis =='both' {
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    @if $axis =='x' {
        left:50%;
        transform:translateX(-50%);   
    }
    @if $axis =='y' {
        top:50%;
        transform:translateY(-50%);   
    }
}

@mixin desktop {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }  
  }

