@import 'normalize';
@import 'rem';
@import 'fontello';
@import 'icons';
@import 'var';
@import 'input';
@import 'btn';


/*========common classes=============*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Cabin', sans-serif;
}

a {
	text-decoration: none;
	color:$btn-primary;
	transition: color .2s;

	&:hover {
		color:$hover-blue;
	}
}

img {
	display: block;
	max-width: 100%;
}


.form-group {
	margin-top: 24px;
	position: relative;

	&--multiply {
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&--multiply-center {
		align-items: center;
		width: 100%;
	} 

	&--md {
		width: 46.5%;

		@include tablet {
			width: 100%;
		}
	}
	&--lg {
		width: 31%;
		
		@include tablet {
			width: 100%;
		}
	}
	&--xlg {
		width: 80%;
		@include tablet {
			width:100%;
		}
	}
}

/*=============section=============*/

.section {
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	max-width: 940px;
	margin:0 auto;
	padding: 10px 0;

	@include laptop {
		justify-content: center;
	}
	@include tablet {
		max-width: 95%;
	}
}

.section-block {
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:space-between;

}

.form	{
	background: $bg-gray;
	border-radius:5px;

	&--flex {
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	
	&__head {
		height: 144px;
		background-image: url('../../assets/img/bg/singUp.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;

		&--sing-in{
			background-image: url('../../assets/img/bg/singIn.jpg');
		}
		
		&-link {
			position: absolute;
			top: 20px;
			right: 18px;
			font-size: 14px;
			color:#fff;
						
			&:hover {
				color: #ccc;
			}
		}
		&-title {
			font-size: 32px;
			text-transform: uppercase;
			color:#fff;
		}
	}
	&__head-sm {
		padding: 20px 20px 0;
		display: flex;
		justify-content:space-between;

		&-link {
			font-size: 14px;
		}
		&-title {
			font-size: 16px;
			text-transform: uppercase;
			text-align: left;
			color:#000;
			margin: 0;
		}
		&--left {
			padding-left: 0;
		}
	}
	&__block {
		width: 50%;
		position:relative;

		@include tablet {
			width: 100%;
		}
		p {
			color:$color-placeholder;
			padding-right: 30px;
			padding-bottom: 30px;
		}
	}

	&__content {
		padding: 0 30px 26px;

		&--sm {
			padding: 20px;
		}
		&--left {
			padding-left: 0;
		}
		&--bottom {
			padding-bottom: 0;
		}
	}
	
	&__description {
		font-size: 14px;
		color:$color-placeholder;
		margin: 18px 0 0;
	}

	&__fog-password {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 20px;

		a {
			color:$color-placeholder;
			font-size: 14px;

			&:hover {
				color: #737373;
			}
		}
	}

	&__separator {
		text-align: center;
		color:$color-placeholder;
		margin-bottom: 20px;
		position:relative;
		
		&:before {
		    content: '';
    		background: $color-placeholder;
			@include centered(y);
			left:0;
    		width: 100%;
			height: 2px; 
		}
  		&:after {
    		content: attr(data-content);
    		position: relative;
    		display: inline-block;
    		padding: 0 10px;
			background: $bg-gray; 
		}



		/*&:before,
		&:after {
			content:"";
			@include centered(y);
			height: 2px;
			width: 42%;
			background:$color-placeholder; 
		}
		&:before {
			left:0;
		}

		&:after {	
			right:0;
		}*/
	}

	&__social-link {
		width: 45%;

	}
	&__social-link--sm {
		font-size: 14px;
		position: relative;
	}
	&__checkbox {
		text-align: left;
		color:$color-placeholder;
		font-size: 14px;
		margin-bottom: 20px;
		margin-top: 15px;
		position: relative;

		&--top {
			margin: 0;
		}
	}

	&__checkBox {
		
		&:not(checked) {
  		position: absolute;
  		opacity: 0;
		}
		
		&:not(checked) + label {
  		position: relative; 
  		padding-left: 20px; 
		}

		&:not(checked) + label:before {
  		content:'';
  		position: absolute;
  		left: 0;
  		top: 3px;
  		width: 15px;
  		height: 14px;
  		border-radius: 4px;
  		background: $btn-green;
		}
		
		&:checked + label:before {
  		background-image: url('../../assets/img/svg/check.png');
  		background-repeat: no-repeat;
  		background-position: 2px;
		}
	}

	&__subscribe {
		width: calc(100% - 47px - 14px);
	}

	&__label {
		color:$color-placeholder;
		
		input {
			padding-left:10px;
			margin-top:12px;
		}
		select {
			margin-top:12px;
		}
		textarea {
			margin-top: 12px;
		}

		&--full-w {
			width: 100%;
		}
	}
	&__card {
		width:23%;
	}
	&__cvv {
		width:70px;
	}
	&__total-price {
		position:absolute;
		right: 30px;
		bottom:26px;
		font-size:24px;
	}

}

/*=============form==============*/
.form-1 {
	width: 460px;
	margin-bottom: 20px;
	margin-right: 10px;

	@include tablet {
		margin-right: 0;
	}
}

.form-2 {
	width: 460px;
	margin-bottom: 20px;
}	

.form-3,
.form-4 {
	width: 300px;
	margin-right: 10px;
	margin-bottom: 20px;
	
	@include tablet {
		margin-right: 0;
	}
}

.form-5,
.form-6 {
	width: 300px;
	margin-bottom: 20px;
}

.form-7 {
	width:620px;
	margin-right: 10px;
	margin-bottom: 20px;
	
	@include tablet {
		margin-right: 0;
	}
}

.form-8 {
	width:300px;
	margin-bottom: 20px;
}

/*============form-9===============*/
.border-b {
	border-bottom:2px solid $color-placeholder;
}
.form {
	
	&__btn--min {
		width: 26px;
		height: 26px;
		background-image: url('../../assets/img/tb/min.jpg');
		border:none;

	}
	&__btn--max {
		width: 26px;
		height: 26px;
		background-image: url('../../assets/img/tb/plus.jpg');
		border:none;

	}
	&__table {
		width: 100%;

		th {
			font-size: 14px;
			color:$color-placeholder;
			border-bottom:2px solid $color-placeholder;
			padding-bottom:15px;
			text-align:left;
		}

		&--img {
			padding: 10px 0 10px 30px;
			width:100px;
		}
		&--desc {
			width: 430px;

			.description {
				padding-bottom:6px;
			}
			.subtitle {
				color:$color-placeholder;
				font-size: 14px;
				padding-right: 10px;
			}
			.colors {
				padding-right: 10px;
			}
			.size {
				color:#fff;
				font-size: 12px;
				background: $color-placeholder;
				border-radius:5px;
				padding: 1px 4px;
			}
		}
		&--price {
			width:115px;
		}
		&--plus {
			padding-right:60px;
		}
		&--count {
			width:36px;
			text-align: center;
		}
		&--quantity.center {
			text-align: center;
			padding-right:60px;
		}
		&--total {
			margin-left:64px;
			padding-left:14px;
		}
		&--subtotal {
			padding:20px 0;
			text-align: right;
			color:$color-placeholder;
			font-size: 14px;
		}

	} 
}
/*==================end form-9=======*/
.form-9,
.form-10,
.form-11 {
	width: 100%;
}	
