.icon-input-inner {
    position: absolute;
    top:25px;
    font-size: 18px;
    left:12px;
    opacity: 0.2;
    pointer-events: none;
}
.icon-password {
    font-size: 22px;
    top:22px;
}
.social-icon {
    position:absolute;
    left:10px;
    top:10px;
}