* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    background-color:#e5e5e5;
    font-family: 'Roboto Condensed', sans-serif;
}
.form {
    width:70%;
    max-width: 350px;
    margin:15px auto;
}
.title {
    background-color: #6200ee;
    color: #fff;
    padding: 10px 50px;
    font-size: 16px;
}
.form-inner {
   padding: 10px;
   background-color: #fff;
}
.form-group {
    margin: 10px 0;   
 }
 [type=text],
 [type=date],
 [type=email],
 [type=password], 
 textarea {
    font-family: inherit;
    background-color: #f5f5f5;
    border:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #000;
    color:#1f1f1f;
    padding:10px 25px;
    width: 100%;
    font-size: 14px;
}
select {
    font-family: inherit;
    background-color: #f5f5f5;
    border:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #000;
    color:#1f1f1f;
    padding:10px 25px;
    width: 100%;
    font-size: 14px;
    margin-top:20px;
}
.sex-radio {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 0;
}
.radio-group {
    width:100%;
    margin: 10px 15px;
}
.radio-group label {
    margin-left:20px;
}
.sex-radio__title {
    padding:0 30px;
}
[type=submit] {
    background-color: #4c00d5;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border:none;
    font-family: inherit;
}
.error {
    border-radius:5px;
    border: 2px solid red;
}