@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url(../fonts/fontello.woff?39604397) format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: '\e800';
}

.icon-skype-outline:before {
  content: '\e801';
}

.icon-phone:before {
  content: '\e802';
}

.icon-github:before {
  content: '\f300';
}

.icon-twitter:before {
  content: '\f309';
}

.icon-linkedin:before {
  content: '\f318';
}

body,
html {
  height: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Barlow Condensed',sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 0.0625rem dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 2.5rem;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0.0625rem solid silver;
  margin: 0 0.125rem;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend,
td,
th {
  padding: 0;
}

.about__block {
  padding: 1.25rem 1.25rem 5rem;
  font-weight: 400;
  font-size: 1.375rem;
}

.about__title {
  font-size: 1.625rem;
  font-weight: 500;
  padding-left: 0;
}

.about__text-skill {
  margin: 0.3125rem 0 0 3.125rem;
}

.about__subtitle {
  font-weight: 500;
  margin: 1.5625rem 0 0 3.125rem;
  padding-left: 0;
}

.about__text {
  margin: 0.3125rem 0 0 3.125rem;
}

.block-skills {
  width: 30%;
}

.block-skills__title {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 0.625rem;
}

.block-skills__skill {
  position: relative;
}

.block-skills__scale,
.block-skills__scale:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.625rem;
  border-radius: 6.25rem;
}

.block-skills__scale {
  width: 70%;
  right: 0;
  background-color: #b53d3d;
}

.block-skills__scale:before {
  content: '';
  background-color: #1c1516;
  left: 0;
}

.block-skills__scale--80:before {
  right: 0;
}

.block-skills__scale--70:before {
  right: 20%;
}

.block-skills__scale--60:before {
  right: 30%;
}

.contact__block {
  padding: 1.25rem 1.25rem 5rem;
}

.contact__list {
  padding-left: 0;
  list-style: none;
}

.contact__link {
  display: inline-block;
  margin-bottom: 0.625rem;
  color: #1c1516;
  font-size: 1.25rem;
}

.contact__text {
  padding-left: 0.625rem;
}

.copyright {
  background: #1c1516;
  text-align: right;
  padding: 0.375rem 0;
}

.copyright__text {
  font-size: 0.875rem;
  color: #fff;
}

.footer {
  background: #e25353;
  color: #fff;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.block-about,
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-wrap {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1.625rem 1.25rem 1.25rem;
}

.block-about {
  width: 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 1.875rem;
}

.block-about__title {
  font-size: 1.375rem;
  margin-left: 7.5rem;
  margin-bottom: 1.25rem;
  position: relative;
}

.block-about__foto {
  position: absolute;
  left: -7.5rem;
  top: -5.9375rem;
  width: 6.875rem;
  height: 8.125rem;
  border: 0.3125rem solid #fff;
  background-color: #fff;
  background-image: url(../img/ava-white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block-about__adress {
  font-size: 1.125rem;
}

.block-about__text {
  font-family: 'Lato',sans-serif;
  font-size: 1rem;
  letter-spacing: .04em;
}

.block-about__social {
  margin-bottom: 1.25rem;
  padding-right: 1.25rem;
}

.block-about__social-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 1.875rem;
}

.block-about__link {
  color: #fff;
  text-decoration: underline;
}

.social-icon {
  font-size: 1.5rem;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.social-icon:hover {
  color: #1c1516;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo {
  font-family: 'Barlow Condensed',sans-serif;
  font-size: 1.875rem;
  text-align: left;
  text-transform: uppercase;
  color: #1c1516;
  max-width: 17.5rem;
  margin-top: 2.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.logo__subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.header__menu {
  width: 30%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__list-link {
  font-size: 1.25rem;
  color: #1c1516;
  text-transform: uppercase;
  display: block;
  padding: 3.125rem 0 0.625rem;
  width: 33%;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__list-link:active,
.header__list-link:hover {
  background: #e25353;
  color: #fff;
  opacity: .7;
}

.portfolio__title {
  font-size: 1.875rem;
  font-weight: 500;
}

.portfolio__link {
  display: inline-block;
  margin-bottom: 2.25rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.125rem;
  width: 30%;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}

.portfolio__link:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0,0,0,.5);
  box-shadow: 0 0 1rem rgba(0,0,0,.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.portfolio__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 3.75rem;
}

.portfolio__img {
  border: 0.0625rem solid silver;
  border-radius: 0.125rem;
  display: block;
  max-width: 100%;
}

.section-desc {
  padding: 2.5rem 0 0.625rem;
}

.section-desc__text {
  font-family: 'Barlow Condensed',sans-serif;
  color: #1c1516;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url(../img/brick3.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

.wrapper {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

@media screen and (max-width:62rem) {
  .portfolio__link {
    width: 48%;
  }
}

@media screen and (max-width:48rem) {
  .block-skills__title {
    margin-bottom: 0.625rem;
    text-align: center;
  }

  .block-skills {
    width: 100%;
    margin-top: 1.25rem;
  }

  .block-about {
    width: 100%;
    padding-right: 0;
  }

  .logo {
    width: 45%;
  }

  .header__menu {
    width: 45%;
  }

  .portfolio__link {
    width: 95%;
  }

  .portfolio__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  html {
    font-size: 0.875rem;
  }
}

@media screen and (max-width:30rem) {
  .header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
    margin-top: 1.25rem;
  }

  .header__menu {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .header__list-link {
    padding: 1.25rem 0 0.625rem;
  }

  .section-desc {
    padding-top: 1.25rem;
  }

  .content {
    background-size: contain;
  }
}
/*# sourceMappingURL=main.css.map */
